<ul
  class="
    divide-y divide-gray-100
    rounded
    shadow-sm
    bg-white
    overflow-x-hidden overflow-y-auto
  "
>
  <li
    *ngFor="let todo of todos$ | async"
    class="p-2 flex flex-row justify-between items-center"
  >
    <div class="flex flex-col">
      <span
        class="text-xl break-words break-all"
        [ngClass]="{ 'line-through text-gray-500': todo.completed }"
        >{{ todo.text }}</span
      >
      <span class="text-xs text-gray-400">{{
        todo.createdAt | date: "dd.MMM hh:mm a"
      }}</span>
    </div>
    <div>
      <button
        class="bg-white p-2 pl-0 rounded-r leading-none outline-none"
        (click)="complete.emit(todo)"
      >
        <span class="material-icons-round text-sm"> done </span>
      </button>
      <button
        class="bg-white p-2 pl-0 rounded-r leading-none outline-none"
        (click)="delete.emit(todo)"
      >
        <span class="material-icons-round text-sm"> delete </span>
      </button>
    </div>
  </li>
</ul>
