<button (click)="openColorPicker()">
  <span class="material-icons-round text-sm"> palette </span>
</button>

<div *ngIf="isActive" class="absolute h-auto w-36 bg-white shadow-md rounded">
  <div class="flex flex-row flex-wrap justify-start">
    <span
      *ngFor="let color of colors"
      class="rounded-full h-5 w-5 m-1 cursor-pointer border border-gray-300 hover:border-gray-800"
      [style.background-color]="color"
      (click)="pick(color)"
    >
      <span *ngIf="selectedColor === color" class="material-icons-round leading-none text-base text-black opacity-60">
        done
      </span>
    </span>
  </div>
</div>
