<div class="container mx-auto px-4 h-full">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-2xl uppercase mb-4">Todoly</h1>
    <div
      class="
        w-1/3
        md:w-1/2
        mb-2
        flex
        row
        bg-white
        border-1 border-gray-500
        rounded
        shadow-sm
      "
    >
      <input
        id="todoInput"
        [formControl]="todoInput"
        type="text"
        class="
          w-full
          p-2
          pr-1
          outline-none
          cursor-pointer
          rounded-l
          leading-none
        "
      />
      <button
        class="bg-white p-2 pl-0 rounded-r leading-none outline-none"
        (click)="save()"
      >
        <span class="material-icons-round text-sm"> add_task </span>
      </button>
    </div>

    <section
      class="
        w-1/3
        md:w-1/2
        bg-white
        h-1/2
        rounded
        shadow-sm
        overflow-x-hidden overflow-y-auto
      "
    >
      <ul class="divide-y divide-gray-100">
        <li *ngFor="let todo of todos$ | async" class="p-2 flex flex-row">
          <span [ngClass]="{ 'line-through text-gray-500': todo.completed }">
            {{ todo.text }}
          </span>
          <button
            class="bg-white p-2 pl-0 rounded-r leading-none outline-none"
            (click)="changeCompleted(todo)"
          >
            <span class="material-icons-round text-sm"> done </span>
          </button>
          <button
            class="bg-white p-2 pl-0 rounded-r leading-none outline-none"
            (click)="delete(todo)"
          >
            <span class="material-icons-round text-sm"> delete </span>
          </button>
        </li>
      </ul>
    </section>
  </div>
</div>
